.header {
  background-color: var(--color-primary);
  
  .container {
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 860px;
    margin: 0 auto;

    .brand {
      font-size: 1.2rem;
      color: var(--color-white);
      text-transform: uppercase;
      
      .link:visited {
        color: var(--color-white);
      }
    }
  }
}
