.cart-page {
  .heading {
    border-bottom: 1px solid var(--color-gray3);
    padding-bottom: 1rem;
  }

  .cart-container {
    padding: 2rem 0;

    .cart-heading {
      list-style: none;
      display: grid;
      grid-template-columns: 4fr 2fr 1fr 1fr;
      align-items: center;
      margin-bottom: 1.5rem;
      font-weight: 500;
      font-size: 1.2rem;

      .quantity {
        text-align: center;
      }

      .price {
        text-align: right;
      }
    }

    .cart-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .cart-total {
      display: grid;
      grid-template-columns: 7fr 1fr;
      justify-items: end;
      margin-top: 1.5rem;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}
