<div class="cart-page">
  <h2 class="heading">Your cart</h2>
  <div class="cart-container">
    <div *ngIf="cartItems.length > 0; else emptyCart" class="">
      <ul class="cart-heading">
        <li>Name</li>
        <li class="quantity">Quantity</li>
        <li class="price">Price</li>
        <li class="price">Total</li>
      </ul>
      <ul class="cart-list">
        <li *ngFor="let item of cartItems" class="cart-item">
          <app-cart-item [cartItem]="item"></app-cart-item>
        </li>
      </ul>
      <div class="cart-total">
        <span>Total</span>
        <span>{{ totalPrice }}</span>
      </div>
    </div>
    <ng-template #emptyCart>
      <p>No items in your cart</p>
    </ng-template>
  </div>
</div>
